<div class="container px-5">

  <div class="row">
    <div class="col d-flex justify-content-start flex-column">
      <div class="mt-5"></div>
      <div *ngFor="let genre of genres" class="gen-container">
        <div class="genre-title py-2 fs-3 fw-bold">{{genre}}</div>

        <ul class="list-group list-group-flush ">
          <li *ngFor="let song of getSongsOfGenre(genre)" class="list-group-item d-flex justify-content-between">{{song}}
            <a class="pull-right btn btn-primary btn-play ">PLAY</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
