$background-color: #F8F9FA;
$background: #F9F9F9;



/*BUTTONS*/

$fucsia: #FF77CB;
$bluish: #5E61F9;

//$fucsia: #5E61F9;
//$bluish: #FF77CB;
$neutral: #2A2A2A;
$neutral-light: #676f75;
$neutral-dark: #545c61;



